
.custom-img {
  width: auto;
  height: 200px;
  margin-top: -10px;
}

.button-group {
  gap: 3px;
  display: flex;

  button {
    height: 38px;
    width: 38px;
  }
}

.button-wrapper {
  margin-bottom: 10px;
}
.zoom-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
