<router-outlet></router-outlet>
<!--<div class="container-fluid " style="border: 1px solid gray;  border-top: 2px solid gray;">-->
<!--  <div class="row justify-content-center ">-->
<!--    <div class="col">-->
<!--      <div #scene class="scene position-relative">-->
<!--        <img class="img-fluid mx-auto d-block"-->
<!--             style="max-height: 90vh; object-fit: contain;"-->
<!--             src="assets/aula2.svg"-->
<!--             alt="Your SVG" #img/>-->
<!--        <div class=" p-lg-3 zoom-buttons position-absolute top-0 start-0">-->
<!--          <area coords=" 794.200141 513.39898 L 881.898613 513.39898 L 881.898613 601.101355 L 794.200141 601.101355 Z M 794.200141 513.39898">-->

<!--          <button class="btn btn-secondary" (click)="zoomIn()">+</button>-->
<!--          <button class="btn btn-secondary" (click)="zoomOut()">-</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
