.my-zoom-img {
  max-width: 100%;
  height: auto;
}
.building:hover {
  fill: red;
}

#path63146:hover {
  fill: red !important;
}

.no-padding {
  padding-top: 0;
}

@media only screen and (max-width: 600px) {
  .mobile-padding {
    padding-top: 200px;
  }
}
