<div class="card m-2 flex-fill mw-100" style="min-width: 18rem;" *ngFor="let event of data">
  <div class="card-body">
    <h5 class="card-title">{{event.Program}}</h5>
    <hr>
    <p class="card-text">
      <strong>Helyszín:</strong> {{event.javasoltHelyszin}}<br>
      <strong>Időpont:</strong> {{event.idopont}}<br>
      <strong>Létszám:</strong> {{event.maxLetszam}}<br>
      <strong>Leírás:</strong> {{event.leiras}}<br>
      <strong>Regisztráció:</strong> {{event.kozpontiRegisztracioIgenye}}
    </p>
    <div class="d-flex">
      <button type="button" class="btn btn-outline-danger px-1 me-1" (click)="onClose()">Bezár</button>
      <button type="button" class="btn btn-outline-secondary px-1 me-1" [routerLink]="'/event-detail/' + event.id" (click)="onClose()" >360° térkép</button>
      <button type="button" class="btn btn-outline-info px-1 me-1" [routerLink]="'aula'" (click)="onClose()">Aula és Előcsarnok</button>
    </div>
  </div>
</div>
