.custom-img {
  width: auto;
  height: 200px;
}

.button-wrapper {
  margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
  .mobile-padding {
    padding-top: 200px;
  }
  .custom-img {
    width: auto;
    height: 200px;
  }
}
